:root {
  --whiteColor: white;
}

body {
  color: rgba(255, 255, 255);
  font-family: "Roboto";
  background-color: #1a1625;

  .button {
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #f2f2f2;
    }
  }
}
